.main {
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.description{
  display: none;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
}
.description p{
  display: inline-block;
  align-items: center;
}
.title-and-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 10px;
}

.title{
  text-wrap: nowrap;
}
.view-and-filters {
  /* width: 100%; */
  display: flex;
  /* align-self: flex-end; */
  gap: 15px;
}

.filters {
  display: flex;
  gap: 15px;
  position: relative;
  transition: ease-in-out 1s;
}

.filter,
.reset-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: max-content;
  font-size: 16px;
  font-weight: 400;
  padding: 7px 15px;
  color: var(--background-color);
  border-radius: 4px;
  cursor: pointer;
}

.reset-filters {
  padding: 4px 10px;
  height: 100%;
}

.dropdown {
  position: absolute;
  top: 40px;
  flex-direction: column;
  align-items: start;
  padding: 5px 0px;
  overflow: hidden;
}

.dropdown a {
  width: 100%;
  font-weight: 400;
  padding: 0px 15px;
  border-radius: 2px;
  color: inherit;
  text-decoration: none;
  text-align: start;
}

.manga-grid {
  padding-top: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.manga {
  width: 30%;
  margin-bottom: 2%;
  border-radius: 10px;
}

.cover-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.details {
  padding: 0.5em 0.8em;
}

.name-and-volume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2em 0 .1em 0;
}

.name {
  font-size: 1.5em;
}

.volumes {
  display: flex;
  gap: 5px;
}

.number {
  font-weight: 600;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: .5em 0;
}

.tags span {
  padding: 0 .2em;
  border-radius: 4px;
}

.infos {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: .4em;
}

.available-on {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  overflow: hidden;
}

.available-on h3,
.rate h4,
.number {
  font-size: 1em;
}

.manga-links, .more {
  text-decoration: none;
  width: 105px;
  max-width: 105px;
  overflow: hidden;
  text-wrap: nowrap;
}

.more button {
  padding: 0;
  margin: 0;
  background: none;
  color: var(--more-links);
  border: none;
}

.more button:hover {
  border: none;
  transform: scale(1.05);
  padding-left: .1em;
}

.more button:focus {
  outline: none;
}

.rate-and-favorite {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rate {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.rate span {
  display: flex;
  gap: 4px;
  align-items: center;
}

.favorite {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  align-self: flex-end;
}

.favorite .bi {
  cursor: pointer;
  color: #fc0341;
  filter: drop-shadow(0 0 .10em #fc0341);
}

.favorite .bi:hover {
  filter: drop-shadow(0 0 .2em #fc0341);
}




@media screen and (min-width: 3600px) {
  .manga {
    width: 9%;
    margin-bottom: .5%;
  }

  .cover-image img {
    width: 100%;
    height: 200px;
  }

  .manga-grid {
    gap: .7%
  }
}

@media screen and (max-width: 3600px) {
  .manga {
    width: 11.5%;
    margin-bottom: .5%;
  }

  .cover-image img {
    width: 100%;
    height: 200px;
  }

  .manga-grid {
    gap: .95%
  }
}

@media screen and (max-width: 2700px) {

  .manga {
    width: 15%;
    margin-bottom: 1.5%;
  }

  .manga-grid {
    gap: 1.65%
  }
}

@media screen and (max-width: 1900px) {
  .manga {
    width: 23%;
    margin-bottom: 2.6%;
  }

  .manga-grid {
    gap: 2.2%
  }
}

@media screen and (max-width: 1635px) {
  .manga {
    width: 31%;
    margin-bottom: 3.5%;
  }

  .manga-grid {
    gap: 2.8%
  }
}

@media screen and (max-width: 1250px) {
  .manga {
    width: 46.5%;
    margin-bottom: 4.5%;
  }

  .manga-grid {
    gap: 5%
  }
}

@media screen and (max-width: 1024px) {
  .manga {
    width: 31%;
    margin-bottom: 4.5%;
  }

  .manga-grid {
    gap: 2.7%
  }
}

@media screen and (max-width: 900px) {
  .manga {
    width: 46.5%;
    margin-bottom: 4.5%;
  }

  .manga-grid {
    gap: 5.5%
  }
}

@media screen and (max-width: 768px) {

  .main h1 {
    font-size: 44px;
  }


  .view-and-filters {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .view{
    max-height: 32px
  }
  .filters {
    gap: 10px;
    align-self: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .show-filters {
    display: flex !important;
    position: absolute;
    left: 0;
    margin: 0 auto;
  }

  .filter,
  .reset-filters {
    gap: 10px;
    width: max-content;
    font-size: 16px;
    padding: 5px 10px;
  }

  .dropdown a {
    padding: 0 5px;
  }


  .manga {
    width: 47.5%;
    margin-bottom: 4%;
  }

  .manga-grid {
    padding-top: 10px;
    gap: 2.5%
  }

  .details {
    padding: .4em;
  }

  .name {
    font-size: 21px;
  }

  .available-on h3,
  .rate h4,
  .number {
    font-size: 17px;
  }
}

@media screen and (max-width: 580px) {

  .description{
    display: flex;
  }
  .title-and-filters {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .title{
    padding-top: 5px;
    line-height: 40px;
  }

  .manga {
    width: 100%;
    margin-bottom: 20px;
  }

  .manga-grid {
    padding-top: 20px;
    gap: 0%;
  }

  .cover-image img{
    min-height: 200px;
    height: 110%;
  }

  .view-and-filters{
    gap: 0;
  }
  .filters {
    gap: 5px;
  }

  .filter,
  .reset-filters {
    gap: 5px;
    width: max-content;
    font-size: 16px;
    padding: 5px 7px;
  }

  .dropdown a {
    padding: 0 5px;
  }

}