:root {
  --foreground-color : #333322  ;
  --toogle-black-white : #555;
  --navbar-shadow : #33333375;
  --background-color: white;

  --orange: #f5b942;
  --light-orange: #f5b94222;
  --lighty-orange: #f5b94277;
  --dark-orange: #f5a442;
  --blue: #61dafb;
  --light-blue: #0031f755;
  --purple: #646cff;
  --light-purple: #646cffaa;

  --card-shadow: #00000044;
  --tags-color : inherit;
  --tags-background : var(--light-blue);
  --links-color : blue;
  --more-links : var(--light-purple);
  --more-links-hover : var(--purple);
}

[ data-theme="dark" ] {
  --foreground-color : #ddd;
  --background-color: #333;
  --navbar-shadow : var(--foreground-color);
  --toogle-black-white : var(--foreground-color);
  --card-shadow: var(--navbar-shadow);
  --tags-color : white;
  --tags-background: #f5b942aa;
  --links-color : var(--orange);
  --more-links : #f5b94299;
  --more-links-hover : var(--orange);
} 

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}
a{
  text-decoration: none;
  color: inherit;
}

/* Scroll Bar ----------------------------------------- */

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; 
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-track {
  background: var(--lighty-orange);   
}

::-webkit-scrollbar-thumb {
  background: var(--dark-orange); 
  border-radius: 6px; 
}

::-webkit-scrollbar-track:hover {
  background: var(--lighty-orange);   
}
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-orange); 
}



/* Navbar----------------------------------------------- */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--light-purple); */
  background-color: var(--background-color);
  box-shadow: 0 0 7px var(--navbar-shadow);
  border-top: 0;
  margin-top: -1px;
  padding: 0.8rem 2rem;
  position: fixed;
  z-index: 999999;
  width: 100%;
  box-sizing: border-box;
}
.search-box {
  width: 60%;
  position: relative;
}
.search-input{
  width: 94%;
  height: 40px;
  padding: 0.1rem 1.4rem;
  border: 2px solid var(--orange);
  border-radius: 10px;
  box-shadow: 0 0 15px #f5a442aa;
  color: var(--toogle-black-white);
  font-size: 18px;
  background-color: var(--background-color);
}
.search-input:focus-visible{
  outline: none;
}
.search-box label{
  position: absolute;
  top: 12px;
  left: 1.5rem;
  display: flex;
  gap: 8px;
  opacity: 0.5;
  cursor: auto;
}
.bi-search{
  position: absolute;
  top: 3px;
}
.search-box span{
  padding-left: 20px;
  padding-top: 2px;
}
.logo{
  display: flex;
  margin: 0;
  padding: 0;
}
.logo h1{
  text-shadow: -5px -1px 5px var(--dark-orange);
  font-size: 40px;
  margin: 0;
  margin-top: 4px;
  line-height: 0;
}
.logo img{
  width: 45px;
  height: 45px;
  border-radius: 4px;
  margin: 0;
}


.displayed-flex, .flex{
  display: flex!important;
}
.displayed-none, .none{
  display: none!important;
}

/* Theme Toggle Button */
.theme{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.theme-switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 26px;
}

.theme-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #777;
  -webkit-transition: .4s;
  transition: .4s;
}

.theme-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .theme-slider {
  background-color: var(--dark-orange);
}

input:focus + .theme-slider {
  box-shadow: 0 0 1px var(--dark-orange);
}

input:checked + .theme-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded theme-sliders */
.theme-slider.round {
  border-radius: 34px;
}

.theme-slider.round:before {
  border-radius: 50%;
}

.current-theme{
  text-transform: capitalize;
  font-size: 18px;
}


/* Main Content -------------------------------------------- */

.body{
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 3%;
}

.aside, .aside-holder, .main{
  margin-top: 100px;
}

/* Sidebar ------------------------------------------------- */

.aside-holder{
  min-width: 270px;

}

.aside{
  width: 230px;
  max-height: 80vh;
  padding: .8em 0em 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
}
.aside h2{
  font-size: 2em;
}

.aside h3{
  font-weight: 400;
}

.genres{
  padding-right: 1.4em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100%;
  overflow-y: scroll;
}
.genres::-webkit-scrollbar{
  width: 4px;
}

.genre{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: .2rem;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  border: 2px solid var(--orange);
  box-shadow: 0 0 4px var(--lighty-orange);
}
.genre:hover{
  color: var(--orange);
}
.genre.active{
  background-color: var(--lighty-orange );
}
.thumbnail{
  width: 60px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  image-rendering: crisp-edges;
}

/* Main ------------------------------------------- */

.main{
  width: 100%;
  padding-right: 2em;
}
.title-and-filters{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters{
  display: flex;
  gap: 15px;
  position: relative;
  transition: ease-in-out 1s;
}
.filter{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: max-content;
  font-size: 18px;
  padding: 5px 15px;
  color: var(--background-color);
  background-color: var(--foreground-color)!important;
  border-radius: 4px;
  cursor: pointer;
  
}

.dropdown{
  position: absolute;
  top: 40px;
  flex-direction: column;
  align-items: start;
  padding: 5px 0px;
  overflow: hidden;
}

.dropdown a{
  width: 100%;
  padding: 0px 15px;
  border-radius: 2px;
  color: inherit;
  text-decoration: none;
  text-align: start;
}
.dropdown a:hover{
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.main h1{
  font-size: 3.5em;
  text-transform: capitalize;
}
.manga-grid{
  padding-top: .7em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.manga{
  width: 30%;
  margin-bottom: 2%;
  border-radius: 10px;
  border: 2px solid var(--navbar-shadow);
  box-shadow: 0 0 4px var(--card-shadow);
}
.cover-image img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.details{
  padding: 0.5em 0.8em;
}
.name-and-volume{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2em 0 .1em 0;
}
.name{
  font-size: 1.5em;
}
.volumes{
  display: flex;
  gap: 5px;
}
.number{
  font-weight: 600;
}
.tags{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: .5em 0;
  color: var(--tags-color);
}
.tags span{
  padding: 0 .2em;
  border-radius: 4px;
  background-color: var(--tags-background);
}
.infos{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: .4em;
}
.available-on{
  display: flex;
  flex-direction: column;
  max-width: 50%;
  overflow: hidden;
}
.available-on h3, .rate h4, .number{
  font-size: 1em;
}
.available-on a{
  text-decoration: none;
  color: var(--links-color);
  width: 105px;
}
.more button{
  padding: 0;
  margin: 0;
  background: none;
  color: var(--more-links);
  border: none;
}
.more button:hover{
  border: none;
  transform: scale(1.05);
  padding-left: .1em;
  color: var(--more-links-hover);
}
.more button:focus{
  outline: none;
}
.rate-and-favorite{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.rate{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.rate span{
  display: flex;
  gap: 4px;
  align-items: center;
}
.rate .bi{
  color: var(--orange);
  /* filter: drop-shadow(0 0 .25em var(--orange)); */
}
.favorite{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  align-self: flex-end;
}
.favorite .bi{
  cursor: pointer;
  color: #fc0341;
  filter: drop-shadow(0 0 .10em #fc0341);
}
.favorite .bi:hover{
  filter: drop-shadow(0 0 .2em #fc0341);
}



@media screen and (min-width: 2560px) {
  .navbar{
    padding: 0.8rem 4rem;
  }
  .body{
    padding: 1rem 5rem;
  }
  .manga{
    width: 15%;
    margin-bottom: 2.1%;
  }
  .cover-image img{
    width: 100%;
    height: 200px;
  }
  .manga-grid{
    gap: 1.7%
  }
}

@media screen and (max-width: 2560px) {
   .search-box {
    width: 60%;
  }
  .manga{
    width: 18%;
    /* margin-bottom: 2.2%; */
  }
  .manga-grid{
    gap: 2.2%
  }
}
@media screen and (max-width: 1900px) {
  .manga{
    width: 23%;
    margin-bottom: 2.6%;
  }
  .manga-grid{
    gap: 2.2%
  }
}
@media screen and (max-width: 1635px) {
  .manga{
    width: 31%;
    margin-bottom: 3.5%;
  }
  .manga-grid{
    gap: 2.9%
  }
}
@media screen and (max-width: 1250px) {
  .search-box {
   width: 55%;
 }  
 .manga{
   width: 46%;
   margin-bottom: 4.5%;
  }
 .manga-grid{
   gap: 5%
 }
}

@media screen and (max-width: 1024px) {
  .search-box {
   width: 45%;
 }
}

@media screen and (max-width: 768px) {  npm run dev
  .navbar{
    padding: 0.2rem 1rem;
  }
  .theme{
    display: none;
  }
  .logo h1{
    font-size: 20px;
  }
  .search-input{
    width: 100%;
    height: 30px;
    border-radius: 8px;
  }
  .search-box label{
    top: 7px;
    left: 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }



  .body{
    padding: .5rem .5rem;
  }
  .manga{
    width: 15%;
    margin-bottom: 2.1%;
  }
  .cover-image img{
    width: 100%;
    height: 200px;
  }
  .manga-grid{
    gap: 2%
  }
}

@media screen and (max-width: 425px) {
  
}

@media screen and (max-width: 375px) {
  
}

@media screen and (max-width: 320px) {
  .search-box {
    /* width: 40%; */
  }
}